In [7]:
import requests

url = "https://yfapi.net/v8/finance/chart/AAPL"

querystring = {
    "interval":"1d",
    "range":"10y"
}

headers = {
    'x-api-key': "WCalhn6WE71vnk9J7sGCJ3ABJ0YmCKGr1TJmpG3C"
}

response = requests.request("GET",url,headers=headers,params=querystring)

In [8]:
import json
import numpy as np
import pandas as pd
dictionary = json.loads(response.text)
result = dictionary['chart']['result'][0]
selected_data = {key: result[key] for key in ['timestamp','indicators']}

timestamp = selected_data['timestamp']
high = selected_data['indicators']['quote'][0]['high']
volume = selected_data['indicators']['quote'][0]['volume']
open = selected_data['indicators']['quote'][0]['open']
low = selected_data['indicators']['quote'][0]['low']
close = selected_data['indicators']['quote'][0]['close']

datetime_arr = np.array(timestamp, dtype='datetime64[s]').astype('datetime64[D]').astype(str)

df = pd.DataFrame({
    'timestamp':datetime_arr,
    'open':open,
    'high':high,
    'low':low,
    'close':close,
    'volume':volume
})

print(len(df))
display(df)

2516

       timestamp        open        high         low       close     volume
0     2014-08-27   25.254999   25.642500   25.174999   25.532499  209476000
1     2014-08-28   25.397499   25.695000   25.389999   25.562500  273840000
2     2014-08-29   25.715000   25.725000   25.549999   25.625000  178380000
3     2014-09-02   25.764999   25.934999   25.680000   25.825001  214256000
4     2014-09-03   25.775000   25.799999   24.645000   24.735001  501684000
...          ...         ...         ...         ...         ...        ...
2511  2024-08-20  225.770004  227.169998  225.449997  226.509995   30299000
2512  2024-08-21  226.520004  227.979996  225.050003  226.399994   34765500
2513  2024-08-22  227.789993  228.339996  223.899994  224.529999   43695300
2514  2024-08-23  225.660004  228.220001  224.330002  226.839996   38629400
2515  2024-08-26  227.210007  227.279999  223.890503  227.179993   29834257

[2516 rows x 6 columns]

### other

In [ ]:
from IPython.display import display, Markdown
import json
dictionary = json.loads(response.text)
results = dictionary['quoteResponse']['result']
for result in results:
    selected_data = {key: result[key] for key in ['symbol','regularMarketPrice', 'regularMarketOpen', 'regularMarketPreviousClose']}
    print(selected_data)

# formatted = json.dumps(dictionary, indent=4)
# print(formatted)

In [23]:
from IPython.display import display, Markdown
import json
dictionary = json.loads(response.text)
results = dictionary['quoteResponse']['result']
for result in results:
    selected_data = {key: result[key] for key in ['symbol','regularMarketPrice', 'regularMarketOpen', 'regularMarketPreviousClose']}
    print(selected_data)

# formatted = json.dumps(dictionary, indent=4)
# print(formatted)

{'symbol': 'AAPL', 'regularMarketPrice': 226.84, 'regularMarketOpen': 225.6589, 'regularMarketPreviousClose': 224.53}